.collapse.show {
  display: block !important;
  /* Show the menu */
}

.navbar-collapse {
  text-align: center;
  /* Adjust alignment */
}

.navbar-toggler {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

.navbar-brand {
  margin-right: auto;
}

.header_area .navbar {
  background: #ffffff;
}

.home_info_area {
  margin-top: 100px;
}

.home_info_area {
  margin-top: 100px;
}

.home_work_img {
  vertical-align: bottom;
}


.btn {
  margin-right: 5px;
}

.card {
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 5em;
}

@media (max-width: 1000px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .home_right_img {
    display: none;
  }

  .card {
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 3em;
  }
}

@media (min-width: 1000px) {
  .row {
    flex-direction: row;
    margin-bottom: 20px;
  }

  .col-lg-5,
  .col-lg-6,
  .col-lg-7 {
    width: 50%;
    box-sizing: border-box;
  }


}

.slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider {
  width: 20px;
  height: 250px;
  background-color: #ddd;
  position: relative;
  cursor: pointer;
}

.slider-thumb {
  width: 20px;
  height: 20px;
  background-color: orange;
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  border-radius: 50%;
}

.technology-box {
  padding: 10px;
  text-align: center;
  justify-content: center;
  font-size: x-large;
}

/* PolaroidGallery.css */

.gallery {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
}

.polaroid {
  position: absolute;
  width: 350px;
  height: 400px;
  background-color: white;
  border: 10px solid rgba(255, 255, 255, 0.959);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.polaroid .image {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}

.frame {
  border: 1px solid orange;
}

.polaroid h3 {
  margin: 0;
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}

.polaroid p {
  margin: 0;
  font-size: 14px;
  text-align: center;
  color: gray;
}

.polaroid.swipe-left {
  transform: translateX(-100%) rotate(-15deg);
  opacity: 0;
}

.polaroid.swipe-right {
  transform: translateX(100%) rotate(15deg);
  opacity: 0;
}

.polaroid:not(.active) {
  display: none;
}

.polaroid.active {
  display: flex;
}